<div class="container">
    <h1 style="text-align: center; margin-bottom: 40px;">Thư Viện Sách</h1>
    <div class="book-grid">
        {{#each books}}
        <div class="book-card">
            <a href="/book/{{this.id}}" class="book-image">
                <img src="/img/{{this.image_url}}" alt="{{this.title}}">
            </a>
            <div class="book-info">
                <h3 class="book-title">{{this.title}}</h3>
                <p class="book-author">Tác giả: {{this.author}}</p>
                <p class="category-tag">Danh mục: <strong>{{this.category_name}}</strong></p>
                <p class="book-price">{{this.price}} VNĐ</p>
                <a href="/book/{{this.id}}" class="btn-auth" style="text-decoration:none; text-align:center; display:block;">Chi tiết</a>
            </div>
        </div>
        {{/each}}
    </div>
</div>